mat-dialog-container {
  border-radius: 10px; /* Ejemplo de borde redondeado */
  padding: 15px; /* Ejemplo de padding */
}

/* Aplica estilos específicos dentro del modal */
h2 {
  font-size: 24px;
}

mat-dialog-content {
  font-size: 16px;
  padding: 15px; 
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

.mdc-dialog__actions {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: auto !important;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0);
}