<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/']">
              <img src="./assets/images/hotel/logo.png" class="align-middle m-2" width="240px" alt="logo" />
            </a>
          </div>
          
          <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="m-t-30">
            <div class="row form-group">
              <div class="col-6 pr-2">
                <label class="mat-subtitle-2 f-s-14 f-w-600 mb-1  d-block">Nombre</label>
                <input  class="form-control form-control-sm" formControlName="nombres"/>
              </div>

              <div class="col-6 pe-2">
                <label class="mat-subtitle-2 f-s-14  f-w-600 mb-1 d-block">Apellido</label>
                <input matInput class="form-control form-control-sm" formControlName="apellidos"/>
              </div>
              <div class="col-12">
                <p class="color-1 txt-12 mb-0" *ngIf="errors?.nombres">
                  {{errors?.nombres}}
                </p>
                <p class="color-1 txt-12 mb-0" *ngIf="errors?.apellidos">
                  {{errors?.apellidos}}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="mat-subtitle-2 f-s-14 f-w-600 mb-1 d-block">Email</label>
              <input matInput class="form-control form-control-sm" type="email" formControlName="email" />
              <p class="color-1 txt-12 mb-0" *ngIf="errors?.email">
                {{errors?.email}}
              </p>
            </div>

            <div class="form-group">
              <label class="mat-subtitle-2 f-s-14 f-w-600 mb-1 d-block">Contraseña</label>
              <input matInput class="form-control form-control-sm" type="password" formControlName="password" />
              <p class="color-1 txt-12 mb-0" *ngIf="errors?.password">
                {{errors?.password}}
              </p>
            </div>

            <div class="form-group">
              <label class="mat-subtitle-2 f-s-14 f-w-600 mb-1 d-block">Repetir Contraseña</label>
              <input matInput class="form-control form-control-sm" type="password" formControlName="password_confirmation" />
            </div>

            <button type="submit" mat-flat-button color="primary" class="w-100">Registrarse</button>

          </form>
          <span class="d-block f-w-500 text-center m-t-24">Ya tienes una cuenta?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Inicia sesión
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>