<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/hotel/logo.png" class="align-middle m-2" alt="logo" width="270" />
            </a>
          </div>

          <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="m-t-30">
            <!-- email -->
            <div class="form-group">
              <label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</label>
              <input matInput class="form-control form-control-sm" type="email" formControlName="email" />
              <p class="color-1 txt-12 mb-0" *ngIf="errors?.email">
                {{errors?.email}}
              </p>
            </div>
            <!-- password -->
            <div class="form-group">
              <label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</label>
              <input matInput class="form-control form-control-sm" type="password" formControlName="password" />
              <p class="color-1 txt-12 mb-0" *ngIf="errors?.password">
                {{errors?.password}}
              </p>
            </div>
            <p class="color-1 txt-12 mb-1" *ngIf="errors?.error">
              {{errors?.error}}
            </p>
            <button type="submit" mat-flat-button color="primary" class="w-100">Iniciar sesión</button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Nuevo en UltraSuite?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Crea una cuenta</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>