<div class="d-flex justify-content-between">
  <!-- <h2 mat-dialog-title class="mb-0">{{ getFormTitle() }}</h2> -->
  <mat-dialog-actions class="pe-3">
    <button mat-button (click)="onClose()" class="btn-close"></button>
  </mat-dialog-actions>
</div>
<div>
  <mat-dialog-content>
    <div class="row">
      alex
    </div>
  </mat-dialog-content>
  <!-- <mat-dialog-actions class="px-4">
    <button mat-button (click)="onClose()"  class="btn btn-secondary btn-sm">Cerrar</button>
    <button mat-button  class="btn btn-primary btn-sm" type="submit" [disabled]="habitacionForm.invalid">Guardar</button>
  </mat-dialog-actions> -->
</div>
