<div class="d-flex justify-content-between">
  <h2 mat-dialog-title class="mb-0">Detalles de Reservación de Habitación de Hotel</h2>
  <mat-dialog-actions class="pe-3">
    <button mat-button (click)="onClose()" class="btn-close"></button>
  </mat-dialog-actions>
</div>
<form >
  <mat-dialog-content>
    <div class="row">
      <div class="info-container">
        <h3>Hotel</h3>
        <p>
          <span class="info-label">Nombre</span>:
          Walter-Walker
        </p>
        <p>
          <span class="info-label">Ubicación</span>:
          5653 Juwan Mountains Apt. 361, Legrosstad, ME 63074, North Chynaview, Dominica
        </p>
        <p>
          <span class="info-label">Teléfono</span>:
          +1.740.393.6606
        </p>
        <p>
          <span class="info-label">Correo Electrónico</span>:
          <!-- <a href="mailto:jgoodwin@example.org">jgoodwin@example.org</a> -->
        </p>
        <p>
          <span class="info-label">Página Web</span>:
          <!-- <a href="https://www.reynolds.org/itaque-reiciendis-porro-et-ipsam-aut-et">Walter-Walker</a> -->
        </p>
        <p>
          <span class="info-label">Fecha de Apertura</span>:
          2016-03-12
        </p>
        <p>
          <span class="info-label">Descripción</span>:
          Unde ut earum facilis mollitia. Officia laudantium alias enim praesentium et. Sint dolor et aut ea sit voluptatibus. Nobis dignissimos voluptas error officia optio tempore officiis natus.
        </p>
        <p>
          <span class="info-label">Clasificación</span>:
          2
        </p>
      </div>
    
      <div class="info-container">
        <h3>Habitación</h3>
        <p>
          <span class="info-label">Descripción</span>:
          Eius facilis ut sequi nam non eligendi.
        </p>
        <p>
          <span class="info-label">Costo Base</span>:
          $411.69
        </p>
        <p>
          <span class="info-label">Impuestos</span>:
          $73.06
        </p>
        <p>
          <span class="info-label">Monto Total</span>:
          $340.74
        </p>
      </div>
    
      <div class="info-container">
        <h3>Reservación</h3>
        <p>
          <span class="info-label">Estado</span>:
          Pendiente
        </p>
        <p>
          <span class="info-label">Fecha de Entrada</span>:
          2024-06-19
        </p>
        <p>
          <span class="info-label">Fecha de Salida</span>:
          2024-05-28
        </p>
      </div>
    
      <div class="info-container">
        <h3>Contacto de Emergencia</h3>
        <p>
          <span class="info-label">Nombre</span>:
          Erich
        </p>
        <p>
          <span class="info-label">Teléfono</span>:
          458-582-9654
        </p>
      </div>
    
      <div class="info-container">
        <h3>Pasajero</h3>
        <p>
          <span class="info-label">Nombre</span>:
          Doris Spinka
        </p>
        <p>
          <span class="info-label">Género</span>:
          Masculino
        </p>
        <p>
          <span class="info-label">Fecha de Nacimiento</span>:
          1976-12-24
        </p>
        <p>
          <span class="info-label">Documento de Identidad</span>:
          DNI - 49752587
        </p>
        <p>
          <span class="info-label">Teléfono</span>:
          (743) 258-2578
        </p>
        <!-- <p>
          <span class="info-label">Correo Electrónico</span>:
          <a href="mailto:ernestina.keebler@example.net">ernestina.keebler@example.net</a>
        </p> -->
      </div>
    
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="px-4">
    <button mat-button (click)="onClose()"  class="btn btn-secondary btn-sm">Cerrar</button>
  </mat-dialog-actions>
</form>
