<div class="d-flex justify-content-between">
  <h2 mat-dialog-title class="mb-0">Detalles de Reservación de Habitación de Hotel</h2>
  <mat-dialog-actions class="pe-3">
    <button mat-button (click)="onClose()" class="btn-close"></button>
  </mat-dialog-actions>
</div>
<form >
  <mat-dialog-content>
    <div class="container">

      <div class="card">
          <div class="card-header">Hotel</div>
          <div class="card-body">
              <p><strong>Nombre:</strong> Walter-Walker</p>
              <p><strong>Ubicación:</strong> 5653 Juwan Mountains Apt. 361, Legrosstad, ME 63074, North Chynaview, Dominica</p>
              <p><strong>Teléfono:</strong> +1.740.393.6606</p>
              <p><strong>Correo Electrónico:</strong></p>
              <p><strong>Página Web:</strong></p>
              <p><strong>Fecha de Apertura:</strong> 2016-03-12</p>
              <p><strong>Descripción:</strong> Unde ut earum facilis mollitia. Officia laudantium alias enim praesentium et. Sint dolor et aut ea sit voluptatibus. Nobis dignissimos voluptas error officia optio tempore officiis natus.</p>
              <p><strong>Clasificación:</strong> 2</p>
          </div>
      </div>

      <div class="card">
          <div class="card-header">Habitación</div>
          <div class="card-body">
              <p><strong>Descripción:</strong> Eius facilis ut sequi nam non eligendi.</p>
              <p><strong>Costo Base:</strong> $411.69</p>
              <p><strong>Impuestos:</strong> $73.06</p>
              <p><strong>Monto Total:</strong> $340.74</p>
          </div>
      </div>

      <div class="card">
          <div class="card-header">Reservación</div>
          <div class="card-body">
              <p><strong>Estado:</strong> Pendiente</p>
              <p><strong>Fecha de Entrada:</strong> 2024-06-19</p>
              <p><strong>Fecha de Salida:</strong> 2024-05-28</p>
          </div>
      </div>

      <div class="card">
          <div class="card-header">Contacto de Emergencia</div>
          <div class="card-body">
              <p><strong>Nombre:</strong> Erich</p>
              <p><strong>Teléfono:</strong> 458-582-9654</p>
          </div>
      </div>

      <div class="card">
          <div class="card-header">Pasajero</div>
          <div class="card-body">
              <p><strong>Nombre:</strong> Doris Spinka</p>
              <p><strong>Género:</strong> Masculino</p>
              <p><strong>Fecha de Nacimiento:</strong> 1976-12-24</p>
              <p><strong>Documento de Identidad:</strong> DNI - 49752587</p>
              <p><strong>Teléfono:</strong> (743) 258-2578</p>
          </div>
      </div>
  </div>
  </mat-dialog-content>
</form>
